---
interface Props {
  width?: number;
  class?: string;
}
const { width = 48, class: className = '' } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 256 255"
  width={width}
  class={className}
  aria-label="Python"
  role="img"
>
  <title>Python</title>
  <defs>
    <linearGradient id="py-blue" x1="12.959%" y1="12.039%" x2="79.639%" y2="78.201%">
      <stop offset="0%" stop-color="#387EB8" />
      <stop offset="100%" stop-color="#366994" />
    </linearGradient>
    <linearGradient id="py-yellow" x1="19.128%" y1="20.579%" x2="90.742%" y2="88.429%">
      <stop offset="0%" stop-color="#FFE052" />
      <stop offset="100%" stop-color="#FFC331" />
    </linearGradient>
  </defs>
  <path
    fill="url(#py-blue)"
    d="M127.975 0C57.444 0 61.726 30.47 61.726 30.47l.084 31.565h67.122v9.478H40.411S0 66.544 0 137.556c0 71.011 39.26 68.444 39.26 68.444h23.437v-32.946s-1.264-39.26 38.649-39.26h66.519s37.376.604 37.376-36.122V36.856S210.473 0 127.975 0zm-40.21 21.106c6.691 0 12.07 5.379 12.07 12.07 0 6.692-5.379 12.071-12.07 12.071-6.692 0-12.07-5.379-12.07-12.07 0-6.692 5.378-12.071 12.07-12.071z"
  />
  <path
    fill="url(#py-yellow)"
    d="M128.025 275.108c70.531 0 66.249-30.47 66.249-30.47l-.084-31.565h-67.122v-9.478h88.521s40.411-4.505 40.411-75.517c0-71.011-39.26-68.444-39.26-68.444h-23.437v32.946s1.264 39.26-38.649 39.26H88.135S50.759 131.236 50.759 167.962v68.29s-5.68 38.856 77.266 38.856zm40.21-21.106c-6.691 0-12.07-5.379-12.07-12.07 0-6.692 5.379-12.071 12.07-12.071 6.692 0 12.07 5.379 12.07 12.07 0 6.692-5.378 12.071-12.07 12.071z"
  />
</svg>
